<!DOCTYPE html>
<html>
    <head>
        <title>IndieAuth Client</title>


    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            {% if error %}
                <p>Error: {{ error }}</p>
            {% endif %}
            <p><label for="user-profile-url">Your website</label>
                <input type="url" name="user-profile-url" value="{{ userprofileurl }}">
            </p>
            <p>
                <input type="submit" value="Sign in">
            </p>
        </form>

        {% if auth %}
        <pre><code>{{ auth }}</code></pre>

        {% endif %}
    </body>
</html>